html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 16px;
}

select {
  width: 100%;
}

.description {
  color: grey;
}

.title {
  font-weight: bold;
}

.saved-msg {
  margin-left: 1ch;
  color: green;
}
